.navbar{
	background: rgb(189,182,173) !important;
	background: linear-gradient(90deg, 
	rgba(24, 23, 23, 0.914) 47%,
	rgba(58, 53, 53, 0.922) 100%) !important; 
}
.bd-placeholder-img {
	font-size: 1.125rem;
  	text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
      	font-size: 3.5rem;
    }
}